.success-send {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgb($color-black, 0.8);
    z-index: 10;

    &__content {
        width: 500px;
        min-height: 240px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $color-white;
        padding: 60px;
        border-radius: 16px;
        text-align: center;
    }

    &__title {
        font-size: 24px;
        line-height: 1.33;
        color: $color-black;
        margin-bottom: 16px;
    }

    &__close-btn {
        position: absolute;
        top: 16px;
        right: 16px;
        background: none;
        border: none;
        cursor: pointer;
    }
}